<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SyncTogether</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="home-body">
    <header class="home-header">
      <h1 id="home-title">SyncTogether</h1>
      <h2>Watch YouTube videos together with your friends!</h2>
    </header>
    <main>
      <div class="home-card">
        <form class="form-control" action="/room" method="POST">
          <label for="nickname">Nickname:</label>
          <input class="form-input" type="text" id="nickname" name="nickname" placeholder="shadowcrux, parth8a, !xobile, sanjrang12, etc." required><br>
          <label for="room">Room Name:</label>
          <input class="form-input" type="text" id="room" name="room" placeholder="Help your friends find your room..." required>
          <button class="form-btn" type="submit">Create Room</button>
        </form>
      </div>
    </main>
  </body>
</html>
