<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SyncTogether - Watch YouTube videos together with your friends </title>
    <meta name="description" content="Watch YouTube videos synced in real-time, together with your friends. Create your own personal room and invite your friends for a YouTube watch party!">
    <meta name="keywords" content="SYNCTOGETHER, SYNC TOGETHER, YOUTUBE, REALTIME, FRIENDS, ROOMS, YOUTUBE SYNC, SYCNED VIDEO">
    <meta name="author" content="Kaustub Navalady">
    <link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/css/style.css"/>
    <script defer src="/js/script.js"></script>
  </head>
  <body class="home-body">
    <script>0</script> <!-- Fixes annoying Firefox bug with FOUC (Flash of unstyled content) -->
    <header class="home-header">
      <h1 id="home-title">SyncTogether</h1>
      <h2>Watch YouTube videos together with your friends!</h2>
    </header>
    <main>
      <div class="home-card">
        <!-- Flash Message (array) -->
        <% if (errorMessage.length > 0) { %>
          <div class="error-msg"><%= errorMessage[0] %></div>
        <% } %>
        <form class="form-control" action="/room" method="POST">
          <label for="nickname">Nickname:</label>
          <input class="form-input" type="text" id="nickname" name="nickname" placeholder="shadowcrux, parth8a, !xobile, sanjrang12, etc." autocomplete="off" spellcheck="false" required><br>
          <label for="room">Room Name:</label>
          <input class="form-input" type="text" id="room" name="room" placeholder="Help your friends find your room" autocomplete="off" spellcheck="false" required>
          <label for="form-join">
            <input type="checkbox" id="form-join" name="isJoining"> <span>Join existing room</span>
          </label>
          <button class="form-btn" type="submit">Create Room</button>
        </form>
      </div>
    </main>
  </body>
</html>
