<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SyncTogether</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1 id="home-title">SyncTogether</h1>
</body>
</html>