@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  background-color: #18181a;
}

::-webkit-scrollbar-thumb {
  background-color: #404040;
}

.home-body {
  background: url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
}

.home-header {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#home-title {
  color: #ff0000;
}

.home-card {
  margin: auto;
  width: 700px;
  height: 400px;
  border-color: #707070;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  position: relative;
}

.form-control {
  margin-top: 50px;
  margin-left: 10%;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.form-input {
  display: block;
  width: 85%;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 0px;
  padding: 12.5px;
  outline: none;
  border-radius: 10px;
  border-color: #707070;
  border-style: solid;
  border-width: 2px;
}

.form-input:focus {
  border-color: red;
}

#form-join {
  margin-top: 25px;
}

.form-btn {
  font-family: 'Montserrat', sans-serif;
  background-color: #ff0000;
  color: #fff;
  position: absolute;
  right: 65px;
  bottom: 50px;
  padding: 10px 50px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.form-btn:hover {
  background-color: #9e2323;
}

.form-btn:active {
  background-color: #861f1f;
}

.error-msg {
  margin: auto;
  margin-top: 20px;
  margin-bottom: -15px;
  width: 75%;
  border: 1px solid #f00;
  border-radius: 3px;
  text-align: center;
  padding: 10px;
  background: rgb(255, 176, 176);
}

::placeholder {
  color: #d1d1d1;
}

/* Room.css */

.room-body {
  margin: 0;
  background-color: #191919;
}

/* Room Header */

.room-header {
  background-color: #0b0c0e;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding: 14px;
}

#room-title {
  font-size: 22px;
  position: relative;
  bottom: 4px;
  text-decoration: none;
  color: #fff;
}

.logo {
  position: relative;
  top: 1px;
  margin-left: 38px;
}

#searchbar {
  position: absolute;
  left: 24%;
  top: 10px;
  outline: none;
  width: 850px;
  background-color: #262626;
  border-color: transparent;
  padding: 8px 0px 8px 10px;
  border-radius: 5px;
  border-width: 0.5px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

#searchbar:focus {
  border-width: 0.5px;
  border-style: solid;
  border-color: #fff;
}

::placeholder {
  font-size: 15px;
  color: #a7a7a7;
  padding-left: 0px;
}

.invite-icon {
  position: absolute;
  left: 20px;
  bottom: 6px;
}

#invite-btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  position: absolute;
  left: 81.2%;
  top: 12px;
  background-color: #2b2d42;
  color: #fff;
  padding: 8px 30px 8px 50px;
  border-radius: 5px;
  border: none;
  outline: none;
}

#invite-btn:hover {
  background-color: #1f2030;
}

#invite-btn:active {
  background-color: #171824;
}

#invite-shortcut {
  position: absolute;
  left: 92%;
  top: 12px;
  background-color: #2b2d42;
  color: #fff;
  padding: 2px 5px;
  border: none;
  outline: none;
  border-radius: 5px;
}

#invite-shortcut img {
  width: 20px;
  height: 20px;
  margin: 4px;
}

#invite-shortcut:hover {
  background-color: #1f2030;
}

#invite-shortcut:active {
  background-color: #171824;
}

.invite-modal {
  display: none;
  position: absolute;
  top: 55px;
  left: 73.8%;
  background-color: #fff;
  text-align: center;
  width: 420px;
  height: 115px;
  padding: 10px 20px;
  border-radius: 6px;
  margin-bottom: 50px;
  z-index: 2;
}

.show-modal {
  display: block;
}

.invite-modal p {
  margin: 0px 0px 0px 4px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  color: #131313;
}

#invite-sub {
  font-size: 14px;
  margin-top: 5px;
  font-weight: normal;
  color: #656565;
}

.invite-modal input {
  text-align: left;
  width: 400px;
  margin-top: 8px;
  padding: 15px 5px;
  border-radius: 4px;
  border-color: #d4d4d4;
  border-style: solid;
  border-width: 1px;
  font-size: 16px;
  outline: none;
}

.invite-modal::before {
  content: '';
  display: block;
  position: absolute;
  left: 49%;
  top: -15px;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 15px solid #fff;
}

#copy {
  position: absolute;
  top: 77px;
  left: 80%;
}

/* Room main */

main {
  position: relative;
}

/* YouTube Player */

#player {
  position: absolute;
  top: 20px;
  left: 50px;
}

/* Chat */

.chat-box {
  position: absolute;
  top: 20px;
  left: 75%;
  width: 420px;
}

.chat-header {
  position: relative;
  background-color: #131313;
  color: #fff;
  width: 420px;
  padding: 10px 0px;
  border-radius: 6px;
  text-align: center;
}

#room-name {
  font-size: 20px;
}

.chat-area {
  height: 640px;
  background-color: #1a1a1a;
  overflow-y: scroll;
  scrollbar-color: dark;
}

.chat-msg {
  margin-left: 15px;
}

.chat-msg .meta {
  color: #fff;
  margin-bottom: 0px;
}

.chat-msg span {
  color: #42c3f6;
  font-size: 12px;
}

.chat-msg .msg-text {
  color: #9f9f9f;
  margin-top: 0px;
  font-size: 14px;
}

.join-icon {
  color: #42c3f6;
  display: inline-flex;
  vertical-align: middle;
}

.leave-icon {
  color: #ff0000;
  display: inline-flex;
  vertical-align: middle;
}

.status-msg {
  margin-left: 15px;
  color: #9f9f9f;
  font-size: 14px;
}

#chat-input {
  width: 410px;
  background-color: #262626;
  color: #fff;
  padding: 12px 0px 12px 10px;
  outline: none;
  border: none;
  border-radius: 4px;
}

.participant-box {
  position: absolute;
  top: 780px;
  left: 73.8%;
  background-color: #fff;
  text-align: center;
  width: 420px;
  min-height: 100px;
  padding: 10px 20px;
  border-radius: 6px;
  margin-bottom: 50px;
}

.participant-box span {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.participant-box i {
  display: inline-flex;
  vertical-align: middle;
  margin: 0px;
  padding: 0px 5px 5px 0px;
}

.user {
  text-align: left;
  padding: 0px;
}

.self-highlight {
  color: #7e7e7e;
}
