@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.home-header {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#home-title {
  color: #ff0000;
}

.home-card {
  margin: auto;
  width: 700px;
  height: 400px;
  border-color: #707070;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  position: relative;
}

.form-control {
  margin-top: 50px;
  margin-left: 10%;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.form-input {
  display: block;
  width: 85%;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 0px;
  padding: 12.5px;
  outline: none;
  border-radius: 10px;
  border-color: #707070;
  border-style: solid;
  border-width: 2px;
}

.form-input:focus {
  border-color: red;
}

.form-btn {
    font-family: "Montserrat", sans-serif;
    background-color: #ff0000;
    color: #fff;
    position: absolute;
    right: 65px;
    bottom: 50px;
    padding: 10px 50px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.form-btn:hover {
  background-color: #9e2323;
}

::placeholder {
  color: #d1d1d1;
}

